.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

/*Introduction*/
#intro_capsule {
    display: flex;
    justify-content: center;
    background-image: url("backgrounds/blocks.jpg");

}

#intro {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 60%;
    margin: 200px;
}

#intro_left {
    flex-basis: 70%;
    padding: 50px;
}

#social_links {
    width: 170px;
    display: flex;
    justify-content: space-between;

}

#social_links a {
    margin: 5px;
}

#social_links img {
    height: 40px;
}

.rectangle_button  {
    background: none;
    border: 3px solid rgb(0, 0, 0);
    padding: 15px;
    cursor: pointer;
    width: 100px;
    text-decoration: none;
    color: #000;
}


#linkedin:hover {
    background-color: #0056b3;
    height: 40px;
    border-radius: 15%;
}

#github:hover {
    background-color: #0056b3;
    height: 40px;
    border-radius: 50%;
}

.rectangle_button:hover {
    background-color: #0056b3;
}

#name {
    font-size: 40px;
    color: rgb(6, 94, 221);
}

#intro_right img {
    height: 290px;
    width: 220px;
    border-radius: 50%;
    border: 5px solid rgb(6, 94, 221);
}

/*Projects*/
#projects_capsule {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 765px;
    background-image: url("backgrounds/waves.jpg");
    background-repeat: repeat-x;
}

#projects_capsule h2 {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5%;
    border: 5px solid rgb(6, 94, 221); 
    margin: 0;
}

#projects_container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    flex-basis: 80%;
}

.project_container {
    background-color: aliceblue;
    padding: 15px;
    width: 400px;
    height: 300px;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
    margin: 12px;
    text-align: center;
    line-height: 1.5;
    border: none;
    cursor: pointer;
    text-decoration: none;
}

.project_container:hover {
    transform: scale(1.05,1.05);
    z-index: 1;
}

.project_container, .project_container:visited {
    color: black;
}

#munch_logo {
    height: 50px;
    width: 50px;
}

@media (min-width: 1200px) {
    #intro_right img {
        height: 370px;
        width: 280px;
    }

    #munch_logo {
        height: 100px;
        width: 100px;
    }
    /*Projects*/
    #projects_container {
        flex-direction: row;
    }

    .project_container {
        width: 400px;
        height: 430px;
        box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.15);
        margin: 25px;
        padding: 30px;
    }

}