.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

/*Introduction*/
#intro_capsule {
    display: flex;
    justify-content: center;
    background-image: url("backgrounds/blocks.jpg");

}

#intro {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 60%;
    margin: 200px;
}

#intro_left {
    flex-basis: 70%;
    padding: 50px;
}

#social_links {
    width: 170px;
    display: flex;
    justify-content: space-between;

}

#social_links img {
    height: 30px;

}

#social_links button {
    background: none;
    border: 3px solid rgb(0, 0, 0);
    padding: 15px;
    cursor: pointer;
}

#name {
    font-size: 40px;
    color: rgb(6, 94, 221);
    
}

#intro_right {
}

#intro_right img {
    height: 370px;
    width: 280px;
    border-radius: 50%;
    border: 5px solid rgb(6, 94, 221);
}

/*Projects*/
#projects_capsule {
    display: flex;
    justify-content: center;
    background-image: url("backgrounds/waves.jpg");
}

#projects_container {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}

.project_container {
    background-color: aliceblue;
    width: 300px;
    height: 400px;
    border-radius: 5%;
}
